header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ECB390;
    color: #FCF8E8;
    font-family: 'Montserrat', sans-serif;

     }


body { margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color:#FCF8E8;
}

h1 { margin: 50px auto 0 auto;
     font-size: 5.625rem;
     font-family: 'Sacramento', cursive;
     color: #91b89f;
     line-height:2;
}

h2{ font-family: 'Montserrat', sans-serif;
 font-size: 2.5rem;
 color:#94B49F;
 font-weight: normal;
 padding-bottom: 10px;
}

h3 { font-family: 'Montserrat', sans-serif;
 color: #41d8dd;
}

#navbar a, .bottom-container a{  color:#FCF8E8;
 font-family: 'Montserrat', sans-serif;
 margin: 20px 20px;
 text-decoration: none;
 font-size: 20px;
 line-height: 2;
 border-radius: 6px;
}


p {
 line-height: 2;
}

hr {
 border: dotted #ECB390 6px;
 border-bottom: none;
 width: 4%;
 margin: 100px auto;
}

.top-container {
 background-color:#CEE5D0;
 position: relative;
 padding-top: 100px;
 /* margin: 50px; */
/* width: 100%; */
}

.middle-container {
 margin: 100px 0;
}


.bottom-container  {
 background-color:#ECB390;
 padding: 50px 0 20px;
 color:#FCF8E8 ;
 
}

.skills-row {
 width: 50%;
 margin: 100px auto 100px auto;
 text-align: left;
 line-height: 2;
}

.skills-img {
    float: right;
    margin: 20px;

}

.contact-me {
 width: 30%;
 margin: 40px auto 60px;
}

.top-cloud {
 position: absolute;

 right: 300px;
 top: 40px;
}

.bottom-cloud {
 position:absolute;
 left: 250px;
 bottom:300px;
}

img.mountain {
    width: 90%;
    max-width: 598px;
}

.sue-profile {
 width: 50%;
 border-radius: 50%;
 background-color: #ECB390;
 float: left;
 margin: 40px 30px;
}

.profile {
 width: 50%;
 margin: 0 auto 0 auto;
 text-align: left;
 line-height: 2;
}

.profile h2 {
 margin: 0;
}


.project-tile a{
    line-height: 3;
    border-radius: 7px;
    font-family:  'Merriweather', serif;;
    color:  #91b89f;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;

}
.project-tile  :hover{
 background: #91b89f;
 color: #FCF8E8;
}

/* For screen(browser) with width bigger than... 720px on this case */
@media only screen and (min-width: 720px) {
    .sue-profile {
        width: 23%;
    }
}

#welcome-section {
    font-size: 1vh;
}

.contact-me a {
    border-radius: 5px;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    padding: .25rem .5rem;
    font-size: 1rem;
    color:#41d8dd;
    transition: all .2s ease;
    font-size: inherit;
}

.contact-me a:hover{
    background: #91b89f;
    color: #FCF8E8;
    text-decoration: none;

 }

 .projects img{
    text-align: ;
    padding: 0 20px 20px 0; 

 }

